/*-- from: openscapes website wiki --*/

// Import fonts
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap'); 


/*-- scss:defaults --*/

$medium-gray1: #999999;
$medium-gray2: #555555; 
$blue: #38A7BB;
$light-yellow: #FFF6E1;

/*-- scss:rules --*/

.blue-underline { 
  text-decoration: underline $blue;
  text-underline-offset: 10px;
  text-decoration-thickness: 4px;
}


.medium-body-text {
  font-size: 60px;
}

.caption-text { 
  font-size: 15px;
  color: $medium-gray2;
}

.blue-text {
  color: $blue;
}

.blue-background {
  background-color: #d2e3f3;;
}

.medium-gray1-text{
  color: $medium-gray1;
}

.center-text {
  text-align: center;
}

.yellow-bg { 
  background-color: $light-yellow;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 8px;
  border-radius: 15px;
}

/*-- from: hello quarto --*/

.reveal .borderbox img {
  border: 5px solid #ececec;
}